<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>TMS Dashboard</title>
    <script src="https://unpkg.com/htmx.org@1.9.5"
            integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">TMS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/plans">Plans</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/runs">Runs</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <div class="dropdown mt-3">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButto"
                            data-bs-toggle="dropdown" aria-expanded="false" th:text="${auth.getName()}">
                        Select
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#" th:text="'Settings'">1</a></li>
                        <li><a class="dropdown-item" href="/logout" th:text="'Logout'">2</a></li>
                        <li><a class="dropdown-item" href="#" th:text="'Administration'">3</a></li>
                    </ul>
                </div>
            </ul>

        </div>
    </div>
</nav>
<!-- Page Content -->
<main class="container col-6 my-4">

    <form id="createObjectForm" th:action="${user.id} == null ? @{/plans/add} : @{/plans/edit}" method="post" th:object="${user}">
        <div class="modal-header">
            <h5 class="modal-title" id="createObjectModalLabel" th:text="${user.id} == null ? 'Добавить нового пользователя' : 'Редактировать пользователя'">Добавить тест план</h5>
        </div>
        <div class="modal-body">
            <!-- Name -->
            <div class="mb-3">
                <label for="nameInput" class="form-label">Name</label>
                <input type="text"
                       th:field="*{name}"
                       class="form-control"
                       id="nameInput"
                       placeholder="Enter name"
                       required>
                <div class="invalid-feedback">
                    Please provide a name.
                </div>
            </div>
            <!-- Roles -->
            <div class="mb-3">
                <label for="roles" class="form-label">Roles</label>
                <select multiple class="form-select" id="roles" name="roles" aria-label="Select user roles" required>
                    <option th:each="role: ${roles}"
                            th:value="${role.getId()}"
                            th:text="${role.getName()}"
                            th:selected="${role.selected} ? 'selected' : null">
                        Admin
                    </option>
                </select>
                <div class="form-text">Hold Ctrl (Cmd on Mac) to select multiple roles.</div>
            </div>
        </div>
        <div id="formFeedback" class="alert d-none" role="alert"></div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
        <input type="hidden" th:field="*{id}">
    </form>
</main>
</body>
</html>